*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: aquamarine;
    max-width: 100vh;
}
.parent{
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
}