.parent{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax 50px, 100px);
    background-color: aqua;
}

.child{
    background-color: bisque;
    border: 2px solid red;
    min-height: 50px;
    max-height: 100px;
    display: flex;
}